/node_modules
/public/hot
/public/back
/public/storage
/public/product
/public/profilepics
/public/image
/public/images
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
